.venv/
venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example

logs/
tmp/
temp/

.ipynb_checkpoints/
notebooks/
docs/
metabase/
data/
sql/
dags/
src/
tests/

.git/
.gitignore

*.pyc
*.pyo
*.pyd
*.log

.DS_Store
.idea/
.vscode/
