# ClickHouse
CLICKHOUSE_USER=de_user
CLICKHOUSE_PASSWORD=1q2w3e4r5t

# Airflow
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=data-engineer-test

AIRFLOW_PROJ_DIR=.
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=airflow@example.com